<h1><%= @movie.title %></h1>

<p><strong>Ano:</strong> <%= @movie.year %></p>
<p><strong>Gênero:</strong> <%= @movie.genre %></p>
<p><strong>Diretor:</strong> <%= @movie.director %></p>
<p><strong>Sinopse:</strong> <%= @movie.plot %></p>
<p><strong>Comentário:</strong> <%= @movie.comment %></p>

<%= form_with(model: @movie, local: true) do |form| %>
  <%= form.label :comment, 'Comentário:' %>
  <%= form.text_area :comment %>
  <%= form.submit 'Salvar Comentário' %>
<% end %>

<%= link_to 'Voltar', movies_path %>